@import "base/null";
@import "libs/slick";
@import "base/fonts";
@import "base/variables";

body {
  font-family: "museo", sans-serif;
  font-weight: 500;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/forms";

@import "base/media";
